<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../style/login.css">
    <title>Telectron</title>
  </head>
  <body>
    <div id="close">
      <img src="../img/sharp_clear_black_18dp.png" alt="black cross" class="cross">
    </div>
    <h1 class="index">Telectron</h1>
    <p class="little">Clique sur moi</p>
  </body>
</html>
