<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../style/login.css">
    <link rel="stylesheet" href="../style/main.css">
    <title>Telectron</title>
</head>
<body>
    <div id="close">
        <img src="../img/sharp_clear_black_18dp.png" alt="black cross" class="cross">
    </div>
    <div id="LastLeason">
        <h1 id="edt">Thomas</h1>
        <h2 id="edt">Adam</h2>
        <h3 id="edt">test </h3>
        <div class="click_arrow">
            <img src="../img/baseline_keyboard_arrow_left_black_18dp.png" alt="left arrow" id="leftArrow">
            <img src="../img/baseline_keyboard_arrow_right_black_18dp.png" alt="right arrow" id="rightArrow">
        </div>
    </div>
    <script src="../controller/app.js"></script>
</body>
</html>